.FieldInfo{
    color: rgb(251, 174, 44);
    font-family: Bitter, Georgia, "Times New Roman",Times, serif;
    font-size: 1.2em;
}

#wrapper{
 text-align:center;
 margin:10px auto;
 padding:10px;
 width:100%;
 
}
#output_image{
 max-width:100%;
}
#editdeletebutton{
    height: 30px;
    width: 30px;

}