

.FieldInfo{
    color: rgb(251, 174, 44);
    font-family: Bitter, Georgia, "Times New Roman",Times, serif;
    font-size: 1.2em;
}

#wrapper{
 text-align:center;
 margin:10px auto;
 padding:10px;
 width:100%;
 
}
#output_image{
 max-width:100%;
}
#editdeletebutton{
    height: 30px;
    width: 30px;

}

.CommentBlock{
    background-color:#F6F7F9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.heading{
    font-family: Bitter,Georgia,"Times New Roman",Times, serif;
    font-weight: bold;
    color: #005E90;
}

.heading:hover{
    color: #0090DB;
}

/*--- Slideshow ---*/
.mySlides {display:none;}

div.w3-display-bottom{
    text-align: center;
}
    

  /*---Image Gallery ---*/

*{
    margin: 0%;
    padding: 0%;
    font-family: "Georgia";
    box-sizing: border-box;
}

.gallery-section{
    width: 100%;
    padding: 0px 0;
    background: #f1f1f1;
}

.inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20;
}

.gallery-section h1{
    text-align: center;
    text-transform: uppercase;
    color: #333;
}

.border{
    width: 180px;
    height: 4px;
    background: #333;
    margin: 60px auto;
}

.gallery-section .gallery{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.gallery-section .image{
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
}

.gallery-section .image img{
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.gallery-section .image:hover img{
    transform: scale(1.4) rotate(15deg);
}

@media screen and (max-width:960px) {
    .gallery-section .image{
        flex: 33.33%;
    }
}

@media screen and (max-width:768px) {
    .gallery-section .image{
        flex: 50%;
    }
}

@media screen and (max-width:480px) {
    .gallery-section .image{
        flex: 100%;
    }
}